:root {
  --white: #fff;
  --black-gray: #747474;
  --green: #00cd6b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #adadad;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

p {
  font-size: 1.5rem;
}

a {
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

a.logo {
  color: var(--black-gray);
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

header {
  padding: 2rem 20rem;
}

header ul {
  list-style: none;
}

header li {
  display: inline;
}

header div.nav_top h1 a {
  display: flex;
  align-items: center;
  gap: 10px;
}

header .nav_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  margin-bottom: 20px;
}

header nav.menu_principal {
  margin-top: 20px;
}

header nav.menu_principal ul li {
  margin-right: 5px;
}

.menu_principal {
  color: var(--black-gray);
  font-weight: bold;
}

section.banner div.banner_img {
  width: 100%;
  height: 525px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/bg_banner.png");
  margin-bottom: 8%;
}

section.banner div.banner_img img.img {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  margin-top: 9%;
}

section.banner div.banner_text p {
  text-align: center;
  padding: 0 15%;
  margin-bottom: 50px;
}

section.banner div.banner_text p a {
  padding: 15px 25px;
  color: var(--white);
  background-color: var(--green);
  text-transform: uppercase;
}
#conteudo {
  padding: 0 10%;
  margin: 3% 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 5%;
}

.grid-item {
  width: 300px;
  font-size: 20px;
}

.news_title {
  color: var(--black-gray);
}
/* Classes para js */
.active {
  color: var(--green);
}
/* Fim das classes */

footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem 20rem;
  background-color: rgb(221, 221, 221);
}

footer #aluno{
  color: brown;
}
